Faker==33.3.1
numpy==2.2.1
pandas==2.2.3
psycopg2==2.9.10
python-dotenv==1.0.1     # To manage .env files
jupyterlab==4.1.6        # For Jupyter notebooks (if using them)
SQLAlchemy==2.0.30       # Optional: cleaner database interactions